{{!-- DEF --}}
<span class="resource-content derivedstats-container flexcol flex-group-center">
	<label class="resource-label-l label-flexrow" data-tooltip="{{localize 'FU.Level'}}" aria-describedby="tooltip">
		<i class="label-icon {{pfuIconClass 'defense'}}"></i>
		<label class="label-text">
			{{localize 'FU.DefenseAbbr'}}
		</label>
	</label>
	<div class="resource-content flex-center">
		<input class="resource-inputs" id="def-input" name="system.derived.def.value"
			   value="{{ system.derived.def.value }}" data-dtype="Number"
			   data-tooltip="{{localize 'FU.Defense'}}<br>Current: {{ system.derived.def.value }}<br>Bonus: {{ system.derived.def.bonus }}"
			   aria-describedby="tooltip" disabled />
	</div>
</span>

{{!-- MDEF --}}
<span class="resource-content derivedstats-container flexcol flex-group-center">
	<label class="resource-label-l label-flexrow" data-tooltip="{{localize 'FU.Level'}}" aria-describedby="tooltip">
		<i class="label-icon {{pfuIconClass 'magicDefense'}}"></i>
		<label class="label-text">
			{{localize 'FU.MagicDefenseAbbr'}}
		</label>
	</label>
	<div class="resource-content flex-center">
		<input class="resource-inputs" id="mdef-input" name="system.derived.mdef.value"
			   value="{{ system.derived.mdef.value }}" data-dtype="Number"
			   data-tooltip="{{localize 'FU.MagicDefense'}}<br>Current: {{
			   system.derived.mdef.value
			   }}<br>Bonus: {{ system.derived.mdef.bonus }}" aria-describedby="tooltip" disabled />
	</div>
</span>

{{!-- Initiative --}}
<span class="resource-content derivedstats-container flexcol flex-group-center">
	<label class="resource-label-l label-flexrow" data-tooltip="{{localize 'FU.Level'}}" aria-describedby="tooltip">
		<i class="label-icon {{pfuIconClass 'initiative'}}"></i>
		<label class="label-text">
			{{localize 'FU.InitiativeAbbr'}}
		</label>
	</label>
	<div class="resource-content flex-center">
		<input class="resource-inputs" id="init-input" name="system.derived.init.value"
			   value="{{ system.derived.init.value }}" data-dtype="Number"
			   data-tooltip="{{localize 'FU.Initiative'}}<br>Current: {{
			   system.derived.init.value
			   }}<br>Bonus: {{ system.derived.init.bonus }}" aria-describedby="tooltip" disabled />
	</div>
</span>